*
{
	font-family: Calibri;
}
body, #menu, #centre
h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
	border: 0;
}
h1
{
	background-color: #1166ff;
	padding: 0.5em;
}
h2, h3, h4, h5, h6
{

	margin-bottom: 0.5em;
}
#menu
{
	float: left;
	width: 18%;
	margin: 0em 1em 1em;
	padding: 1em;
	background-color: #22ff37;
}
#centre
{
	margin: 1em 1em 1em 23%;
	padding: 1em;
	background-color: #eeeeee;
}
#bas
{
	clear: both;
	padding: 1em;
	background-color: #3366ff;
}
label
{
	float: left;
	width: 250px;
	text-align: left;
}
input
{
	margin-bottom: 2px;
}
table, tr, td, th
{
	border-collapse: collapse;
	border: 1px solid black;
}
th{
	background-color="#272626";
}
.flottant_droite {

	float: right;
}
span.label_profil {

	font-weight: bold;
}
form#calculator
{
	width: 250px;
	height: 350;
	border: 1px solid black;
	text-align:center;
	background: lightblue;
	margin: 150px auto;
	box-shadow: 0px 0px 30px gray;
}

#display
{
	margin-top:30px;
	margin-bottom:20px;
	width: 200px;
	height: 30px;
	box-shadow: 0px 0px 30px red;
	text-align: right;
	font: 20px bold;
	color: darkblue;    
}

.keys
{
	width: 41px;
	height :41px;
	margin-left:10px;
	margin-bottom:10px;
	box-shadow: 0px 0px 20px skyblue;
	cursor: pointer;
	
}
.equal
{
	width: 100px;
	height :41px;
	margin-left:10px;
	margin-bottom:10px;
	box-shadow: 0px 0px 20px skyblue;
	
}


.keys:hover
{
	background:yellow;
	font-weight: bold;
	
}